* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	font-family: "Inter", sans-serif;
}

.max-width {
	width: 100%;
	max-width: 1200px;
}

.padding-lateral {
	padding-left: 200px;
	padding-right: 200px;
}
