@import "styles-global.css";
@import "./components/navbar.css";
@import "variables.css";
@import "components/header.css";
@import "components/sobre.css";
@import "components/diferenciais.css";
@import "components/oficina.css";
@import "components/servicos.css";
@import "components/contato.css";
@import "components/footer.css";
