#header {
	position: relative;
	width: 100%;
	padding-top: 100px;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: url(../../assets/motor2.jpeg) no-repeat center;
	background-size: cover;
	/* align-items: center; */
}

#header::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 20, 70, 0.75);
	z-index: 1;
}

#header #header__left {
	z-index: 2;
	color: #ffffff;
}

#header__left h1 {
	font-size: 52px;
}

#header__left h1 span {
	color: var(--cor-secondary);
}

#header__left p {
	margin-top: 20px;
	font-size: 1.2rem;
}

.btn {
	display: inline-block;
	margin-top: 10px;
	padding: 15px 20px;
	color: var(--cor-primary);
	background: #ffffff;
	border-radius: 10px;
	font-size: var(--font-20);
}

.btn.destaque {
	background: var(--cor-secondary);
	font-size: var(--font-20);
	color: #ffffff;
}

#header__right {
	position: absolute;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	top: 50%;
	right: 8%;
	transform: translateY(-50%);
	z-index: 2;
	background: url("../../assets/revisao.jpeg") no-repeat center center;
	border: 10px solid var(--cor-primary);
}

.indicadores {
	display: flex;
	margin-top: 50px;
	gap: 30px;
}

.indicadores .indicador {
	display: flex;
	gap: 12px;
	align-items: center;
	border: 1px solid #ffffff;
	border-radius: 10px;
	padding: 20px;
}
.indicadores .indicador i {
	font-size: 35px;
	color: var(--cor-secondary);
}
