#nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	background: #ffffff;
	z-index: 100;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.logo {
	font-size: var(--font-20);
	color: var(--cor-primary);
	font-weight: 700;
}

.logo i {
	margin-right: 10px;
	color: var(--cor-secondary);
	font-size: 20px;
}

.menu-desktop {
	display: flex;
	gap: 20px;
}

.menu-desktop a {
	font-size: var(--font-20);
	color: var(--cor-primary);
	font-weight: 700;
}

.menu-toggle {
	display: none;
	font-size: 28px;
	cursor: pointer;
	color: var(--cor-primary);
}

/* MENU MOBILE */
.menu-mobile {
	position: fixed;
	top: 0;
	right: -100%;
	width: 280px;
	height: 100vh;
	/* background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("assets/menu-bg.jpg"); */
	background: var(--cor-primary) url("assets/menu-bg.jpg");
	background-size: cover;
	background-position: center;
	padding: 20px;
	transition: 0.3s ease;
	z-index: 200;
}

.menu-mobile.active {
	right: 0;
}

.menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 20px;
	margin-bottom: 30px;
}

.menu-mobile ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.menu-mobile a {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}

/* RESPONSIVO */
@media (max-width: 900px) {
	.menu-desktop {
		display: none;
	}

	.menu-toggle {
		display: block;
	}
}
