#nav {
	display: flex;
	width: 100%;
	height: 70px;
	align-items: center;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	background: #ffffff;
	z-index: 100;
}

.logo {
	flex-basis: 25%;
	font-size: var(--font-20);
	color: var(--cor-primary);
	text-align: center;
}

img {
	width: 150px;
}

ul {
	display: flex;
	gap: 20px;
	flex-basis: 75%;
	justify-content: flex-end;
}

ul a {
	font-size: var(--font-20);
	color: var(--cor-primary);
}

.sombra {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.55);
}

/* Responsividade */
@media (max-width: 1024px) {
	nav {
		padding-left: 100px;
		padding-right: 100px;
	}
	ul a {
		font-size: var(--font-20);
	}

	ul {
		gap: 15px;
	}
}

@media (max-width: 768px) {
	#nav {
		padding: 0 20px;
	}
	.logo {
		opacity: none;
	}
	ul {
		gap: 10px;
	}

	ul a {
		font-size: var(--font-16);
	}
}

@media (max-width: 600px) {
	#nav {
		height: auto;
		padding: 10px 15px;
		flex-direction: column;
		gap: 5px;
	}

	.logo {
		flex-basis: auto;
		text-align: center;
	}

	ul {
		flex-basis: auto;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 10px;
	}

	ul a {
		font-size: var(--font-16);
	}
}

@media (max-width: 430px) {
	ul a {
		font-size: var(--font-14);
	}

	.logo img {
		width: 110px;
	}

	ul {
		gap: 8px;
	}
}
